<div class="top_menu">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="float-left">
                    <p>Fone: (48) 9.9659-9350</p>
                </div>
            </div>
            <div class="col-lg-5">
            <div class="float-right">
            <ul class="right_side">
              <li>
                <a href="cart.html">
                  gift card
                </a>
              </li>
              <li>
                <a href="tracking.html">
                  track order
                </a>
              </li>
              <li>
                <a href="contact.html">
                  Contact Us
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>